@model IEnumerable<CMP1005_JobTracker.Models.Reminder>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome :)</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<table class="table" align="center">
    <tbody>
        <tr>
            <td>
                <table class="table" align="center">
                    <thead>
                        <tr>
                            <th>
                                Links
                            </th>
                        <tr />
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>
                                    <a asp-controller="Job" asp-action="Index">Manage Jobs</a>
                                </p>
                                <p>
                                    <a asp-controller="DTR" asp-action="Index">Manage Daily Time Records</a>
                                </p>
                                <p>
                                    <a asp-controller="Reminder" asp-action="Index">Manage Reminders</a>
                                </p>
                            </td>
                        <tr />
                    <tbody>
                </table>
            </td>
            <td>
                <table class="table" align="center">
                    <thead>
                        <tr>
                            <th>
                                Reminders
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <i>
                                        @if (Convert.ToDateTime(item.DateTime) < DateTime.Today)
                                            continue;
                                            @Html.DisplayFor(modelItem => item.Detail)
                                            <br />
                                            Due:
                                            @Convert.ToDateTime(item.DateTime)
                                    </i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    <tbody>
</table>
